/* Import de fonte do google 
https://fonts.google.com/specimen/Mulish?query=Mulish&preview.text=Cora%C3%A7%C3%A3o&preview.text_type=custom 
*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Configuração para afetar toda estutura */
* {
    margin: 0;
    padding: 0;
}


html {
    /* Scroll lento */
    scroll-behavior: smooth;
}

body {
    /* Parametro de medida rem ( font-size: 62.5%) */
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
    margin: 0px;
    box-sizing: box-sizing;
    background-color: #22374c;
	color:#777;;
}

.main {
    margin: 0 auto;
    overflow-x: hidden;
}

h1 {
    font-weight: bold;
    font-size: 2.8rem;

}

h2 {
    font-weight: bold;
    font-size: 2.0rem;
    margin-top: 1rem;
}

h3 {
    font-weight: bold;
    font-size: 1.0rem;
    color: #19232d;
    margin-top: 1rem;
}

p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    margin-top: 1rem;
}

span {
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Botão outiline */
.btn-outilne {
    font-size: 1rem;
    padding-left: 25px !important;
    background: transparent;
    border: 1px solid #dcbb87;
    color: #dcbb87;
    padding: 12px 25px;
    border-radius: 999px;
    text-decoration: none;
    font-weight: bold;
}

.btn-outilne:hover {
    background: #dcbb87;
    border: 1px solid #dcbb87;
    color: #19232d;
    transition: all 0.2s;
}

/* Botão claro */
.btn-clean {
    font-size: 1rem;
    padding-left: 25px !important;
    background: #dcbb87;
    border: 1px solid #dcbb87;
    color: #19232d;
    padding: 12px 25px;
    border-radius: 999px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.btn-clean:hover {
    background: transparent;
    border: 1px solid #dcbb87;
    color: #dcbb87;
    transition: all 0.2s;
}


.section-topo {
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 76vh;
    background-color: #22374c;
    overflow: hidden;
    z-index: 9;
}

/* linha sobre o as nuvem  - Topo */
.section-topo::before {
    content: "";
    position: absolute;
    background-image: url('../img/linhas.png');
    width: 100%;
    height: 100%;
    right: -20%;
    z-index: -1;
}

/* Nuvens - Topo */
.section-topo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('../img/nuvem.png');
    background-size: cover;
    opacity: 0.1;
    animation: nuvem 60s linear infinite;
    z-index: -2;
    top: 0;
    left: 0;
}

.header-main {
    margin: 15px 100px 0 100px !important;
}

.container-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-header>.menu-item {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.container-header>.menu-item ul {
    list-style-type: none;
    display: flex;
    overflow: hidden;
}

.container-header>.menu-item ul li {
    padding-right: 25px;
}

.menu-item ul li a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    float: left;
    display: block;
}

.menu-item ul li a:hover {
    color: #dcbb87;
    transition: all 0.2s;
}

.menu-item .icon {
    display: none;
}

/* Menu mobile */
#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    float: right;
    width: 16px;
    z-index: 9999;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #4f7794;
}

#menuToggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

#menuToggle label span {
    display: none;
}

#menuToggle label div {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menuToggle label div:first-child {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

#menuToggle label div:nth-child(2) {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

#menuToggle input:checked+label div {
    background: #232323;
}

#menu {
    position: absolute;
    min-width: 300px;
    background: #ededed;
    list-style-type: none;
    right: -487px;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

#menu a {
    display: flex;
    justify-content: center;
    padding-bottom: 0.8rem;
}

#menu li {
    padding: 1rem 1rem;
}

#menu li:hover {
    background-color: #dcbb87;
}

#menuToggle input:checked~ul {
    right: -16px;
    font-size: 1.2rem;

}


/* Botões menu superior esquerdo */
.login ul {
    display: flex;
    list-style-type: none;
    padding-top: 15px !important;
}

.login a {
    font-size: 1rem;
    padding-left: 25px !important;
    background: #dcbb87;
    border: 1px solid #dcbb87;
    color: #19232d;
    padding: 12px 25px;
    border-radius: 999px;
    text-decoration: none;
    font-weight: bold;
}

.login a:hover {
    background: transparent;
    border: 1px solid #dcbb87;
    color: #dcbb87;
    transition: all 0.2s;
}

.login a:nth-child(1) {
    margin-right: 1.5rem;
}

/* oculta conteudo da versão desktop */
.hidden-desktop {
    display: none;
}

/* Row do topo do site */
.line-banner {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 265px;
    padding-left: 166px;
    padding-right: 100px;
    overflow: hidden;
    z-index: 9;
    display: flex;
    flex-flow: row;
}

.sub-title {
    font-size: 1.2rem;  
    text-align: left;
    
}

.sub-title2 {
    font-size: 2.2rem;  
    text-align: center;
    
}

/* Seleciona o primeiro span da classe .sub-title */
.sub-title > span {
    color: #dcbb87;
}


.col-banner-one>.sub-title {
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
    color: white;
    margin-bottom: 25px;
}

.title {
    margin-top: 0rem;
}

.title,
.col-banner-one p {
    color: white;
}

.col-banner-one p {
    padding-top: 1rem;
    line-height: 1.3rem;
}

/* leve linha a esqueda da coluna do banner */
.col-banner-one::before {
    position: absolute;
    content: '';
    top: 100px;
    left: 104px;
    width: 1px;
    height: 50%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Imagem do avião e sua animação */
.col-banner-two img {
    max-width: 80%;
    float: right;
    animation: aviaoAnimate 3s infinite cubic-bezier(0.4, 0, 1, 1) 0.2s;
}

/* <!-- Botão topo --> */
.banner-btn {
    margin-top: 3rem;
}

.banner-btn a {
    background-color: transparent;
    color: #dcbb87;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 1.02rem;
    border-radius: 200px;
    border: 1px solid #dcbb87;
    text-decoration: none;
    font-weight: bold;
}

.banner-btn a:hover {
    background-color: #dcbb87;
    color: #19232d;
    border: 1px solid #dcbb87;
    transition: all 0.2s;
}

/* Section conteudo */
.section-content {
    height: 100%;
    padding: 5rem 8.0rem 5rem 8.0rem !important;
}

/* Container de conteudo */
.container {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    justify-content: space-between;
}
/* Container de conteudo full */
.container-full {
    height: 100%;
    display: flex;
}

/* Sessão sobre */
.col-1,
.col-2 {
    width: 50%;
}

.col-9 {
    width: 75%;   
}

.col-3 {
    width: 25%;
    display: flex;
    height: auto;
}

.col-1 p {
    padding-right: 1.4rem;
}

#sobre .col-2 {
    justify-content: center;
    display: flex;
}

.col-2 img {
    border-radius: 0.5rem;
}

.col-full {
    width: 100%;
}

.section-content img {
    max-inline-size: 100%;
    block-size: auto;
}

.section-content-row {
    height: 100%;
    padding: 20px 8.0rem 5rem 8.0rem !important;
    background-color: #22374c;
}


#servicos .container {
    display: flex;
}


/* Nossos Serviços */
.row {
    /* Uso do grid para posciosar cada box com exatidão */
    display: grid;

}



/* Cada coluna será redimensione automaticamente e  cada linha terá 3 box*/
.grid-template-columns {
    grid-template-columns: auto auto auto;
}



.title-section {
    text-align: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding-bottom: 20px;*/
}

.title-section2 {
    text-align: center;
    color: white;
    /*padding-top: 20px;*/
    padding-bottom: 20px;
    /*padding-bottom: 20px;*/
}

/* Box de conteudo*/
.box {
    background-color: #22374c;
    color: #dcbb87;
    text-align: center;
    justify-content: center;
    flex-flow: revert;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2rem;
}

/* Hover do Box*/
.box:hover {
    box-shadow: 0 12px 30px rgb(0 0 0 / 20%);
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 0.2s;
    z-index: 3;
}

/* Tiulo do Box*/
.text h3 {
    color: #dcbb87;
    padding: 0px 13px;
    text-transform: uppercase;
}
/* Paragrado  do Box*/
.text p {
    color: white;
    padding: 0rem 1rem;
    font-weight: 300;
}
/* <!-- Botão da sessão serviços que contém os box --> */
.btn-section {
    padding: 5rem 0rem 0rem 0rem;
    width: 200px;
    margin: 0 auto;
}


/* <!-- Sessão Oferta --> */
#oportunidades {
    background-color: #19232d;
}

/* <!-- Titulo da essão Oferta --> */
#oportunidades .title-section {
    text-align: left;
}


.card-item {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-item {
    border: 1px solid #e5e5e529;
    border-radius: 10px;
    overflow: hidden;
}

.card-item:hover {
    box-shadow: 0 12px 30px rgb(0 0 0 / 20%);
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 0.2s;
    z-index: 3;
}

.card-content {
    padding: 20px;
    max-width: 190px;
    height: 190px;
}

.card-content .title {
    color: #dcbb87;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 4px;
}

.card-content .sub-title {
    color: #e1dddd;
    color: #979797;
    font-size: 14px;
}

.card-dados {

    border-bottom: 1px dashed #555E67;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #C9C9C9;
    margin-top: 15px;
    padding-bottom: 10px;
}

.card-dados span {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

.charter-thumb img {
    width: 100%;
}



.card-btn {

    margin-top: 20px;
}


.card-btn a {
    color: #dcbb87;
    font-size: 0.8rem;
    font-weight: 700;
    transition: all 0.5s;
}

.card-btn a:hover {
    color: white;
    text-decoration: none;
}


/* Sessão contato */
#contato .title-section {
    text-align: left;
    color: #19232d;
    margin: 0rem;
    padding: 0rem;

}

.contact-lista-item li a {
    display: flex;
    flex-flow: row;
    text-decoration: none;
    align-items: center;
    margin-bottom: 1rem;
    color: black;
}

.contact-lista-item li .contact-item-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-align: center;
    background-color: #f5f3f1;
    border-radius: 50%;
    color: #dcbb87;
    font-size: 1rem;
}

.contact-lista-item li .contact-item-conteudo {
    width: calc(100% - 60px);
    padding-left: 20px;
}

.contact-item-conteudo .title {
    font-weight: 800;
    font-size: 1rem;
    color: black;
    margin: 0.2rem 0rem;

}

.contact-item-conteudo p {
    margin: 0.1rem 0rem;
}


/* galeria de imagens */
.galeria-content {
    display: flex;
    width: 100%;
}

.-content>* {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
}

figure {
    display: flex;
    width: 100%;
    max-height: 16rem;
    position: relative;
    margin: 0rem;
    box-shadow:
        rgb(40, 40, 40, 0.1) 0px 2px 3px,
        rgb(20, 20, 20, 0.2) 0px 5px 8px,
        rgb(0, 0, 0, 0.25) 0px 10px 12px;
    overflow: hidden;
    transition: transform var(--anim-time--med) ease;
}

figure::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            hsla(0, 0%, 0%, 0.8) 0%,
            hsla(0, 0%, 0%, 0.7) 12%,
            hsla(0, 0%, 0%, 0.2) 41.6%,
            hsla(0, 0%, 0%, 0.125) 50%,
            hsla(0, 0%, 0%, 0.01) 59.9%,
            hsla(0, 0%, 0%, 0) 100%);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: var(--anim-time--med), var(--anim-time--med);
    transition-timing-function: ease, ease;
    z-index: 4;
}


figure:hover::before {
    transition: all 0.2s;
    opacity: 0.8;
}

figure:hover {
    transform: translateY(0);
    transition: all 0.2s;
    opacity: 1;
}

figure:hover img {
    transition: all 0.2s;
    transform: scale(1);
}

.galeria img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    transform: scale(1.15);
    aspect-ratio: 16 / 13;
    transition: 400ms ease-in-out;
}

.form-container{
    width: 100%;
    
}

#formulario{
    /*background-color: #152638;*/
}

#formulario .title-section {
    text-align: left;
}

.etapas-fomulario{
    display: flex;
    position: relative;
    font-size: 1.2rem;
    color: #ffffff;
}


.line-etapas{
    padding: 0 2%;
}

.circulo-etapas {
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.144);
    padding: 6px 12px;
    margin-right: 5px;
}

.circulo-ativo{
    background-color: #dcbb87;
    color: #22374c;
}

/* .ocultar {
    display: none;
} */

.completa{
    color: #56b276;
}

.completa .circulo-ativo{
    background-color: #56b276;
    color: #ffffff;
}

.formulario-etapas h4 {
    padding: 1.3rem 0rem 1rem 0rem;
    font-size: 1.2rem;
    color:#dcbb87;
}

.formulario-etapas .btn-form{
    margin: 1.2rem 0.5rem 1.2rem 0.5rem;
}

#formAero{
    padding: 20px 30px 20px;/*top , right and left , botton*/
    border: 1px solid #ffffff2b;
    border-radius: 40px;
    margin-top: 20px;   
    background-color: #ffffff03;
}

.form-area, .form-area2{
    width: 100%;
    position: relative;
    
}

.form-area2{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 20px;
    
}
label{
    position: absolute;
    left: 1.2rem;
    top: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

.form-area input{
    border: 1px solid #dcbb87;
    background-color: white;
    border-radius: 60px;
    height: 25px;
    color: #232323;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0.8rem;
    padding-left: 18px;
    padding-top: 17px;
}

.form-area2 input{
    border: 1px solid #dcbb87;
    background-color: white;
    border-radius: 60px;
    height: 25px;
    color: #232323;
    padding-left: 20px;
    margin-bottom: 0.8rem;
    padding-top: 17px;
}

/* input:invalid {
    border: 1px solid rgba(165, 165, 165, 0.432);
}
input:valid {
    border: 1px solid #56b276;
  } */


.w-100{
    width: 100%;
}



::placeholder {
    color: rgb(134, 134, 134);
    margin-top: 10px;
    padding-top: 30px;
}

.form-area select {
    border: 1px solid #dcbb87;
    background-color: white;
    border-radius: 60px;
    height: 47px;
    color: #232323;
    padding: 1.2rem 1.2rem 0.1rem 1.2rem;
    margin-bottom: 0.8rem;
}

.form-row{
    display: grid; 
}

.umfr{
    display: grid; 
    grid-template-columns: auto;
}
.doisfr{
    display: grid; 
    grid-template-columns: 2fr auto;
    grid-column-gap: 45px;
}

.doismeiofr{
    display: grid; 
    grid-template-columns: auto auto;
    grid-column-gap: 45px;
}
.umterco1fr{
    display: grid; 
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 45px;
}

.tresfr{
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-column-gap: 45px;
}

.p-10 {
    padding-top: 10px;
}

.text-alert{
    font-size: 0.8rem;
    color:rgb(255, 179, 179)
    
}


/* Rodapé */

footer { 
    background-color: #19232d;
    color: white;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    
}

footer .container{ 
 justify-content: center;
}

footer p{ 
    font-size: 0.8rem;
 
}


/* Animação do avião*/
@keyframes aviaoAnimate {
    0% {
        -webkit-transform: rotate(0) translate(-10px) rotate(0);
        -moz-transform: rotate(0) translate(-10px) rotate(0);
        -ms-transform: rotate(0) translate(-10px) rotate(0);
        -o-transform: rotate(0) translate(-10px) rotate(0);
        transform: rotate(0) translate(-10px) rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        transform: rotate(360deg) translate(-10px) rotate(-360deg);
    }
}

/* Animação da nuvem*/
@keyframes nuvem {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -5440px;
    }
}

/* Para resoluções de tela até 1150px*/
@media (max-width: 1150px) {
    .section-content {
        height: 100%;
        padding: 5rem 3rem 5rem 3rem !important;
    }

    .section-topo {
        height: 85vh;
    }

    .hidden-desktop {
        display: initial;
    }

    .hidden-mobile {
        display: none !important;
    }

    .col-banner-one .title {
        font-size: 1.8rem;
        padding-bottom: 1rem;
    }

    .line-banner {

        padding-left: 65px;
        padding-right: 65px;
    }

    .col-banner-one::before {

        left: 38px;
    }

    .col-banner-two {
        padding-top: 3rem;
    }

    .col-banner-one>.sub-title {
        font-size: 1.5rem;
    }

    .col-banner-two img {
        padding-top: 3rem;
    }

    .card-content {
        padding: 20px;
        max-width: 190px;
        height: 190px;
    }

    .col-full {
        width: 100%;
        display: flex;
        flex-flow: wrap;
    }

    #oportunidades>.container {
        flex-flow: wrap;
        justify-content: center;
    }

    .card {
        width: 250px;
    }

    footer .container p{
        text-align: center;
    }
}

/* Para resoluções de tela até 850px*/
@media (max-width: 850px) {
    .line-banner {
        flex-flow: column;
        padding-top: 3rem;
        padding-bottom: 8rem;
        padding-left: 8rem;
        padding-right: 5rem;
    }

    .col-banner-two {
        margin-top: -5rem;
        float: right;
    }

    .col-1,
    .col-2 {
        width: 100%;
    }

    .col-1 {
        margin-top: 2rem;
    }

    

    p {
        margin-top: 0.8rem;
        line-height: 1.3rem;
    }

    #sobre img {
        margin-top: 2rem;
        width: 100%;
    }

    .container {
        flex-flow: column;
    }

    #contato .container {
        flex-flow: column-reverse;
    }

    .contact-lista-item {
        margin-top: 2rem;
    }

    .grid-template-columns {
        grid-template-columns: auto;
    }

}

/* Para resoluções de tela até 605px*/
@media (max-width: 605px) {
    .section-topo {
        height: 85vh;
    }

    .section-topo {
        padding-top: 0rem;

    }

    .section-content-row {
        height: 100%;
        padding: 3rem 0rem 3rem 0rem !important;
    }

    .header-main {
        margin: 0rem 5rem 0 2rem !important;
    }

    .banner-btn {
        visibility: hidden;
    }

    .col-banner-two img {
        padding-top: 1rem;
        float: initial;
    }

    .line-banner {
        padding-left: 4rem;
        padding-right: 3rem;
    }

    .card {
        width: 100%;
    }


}
.tb-lista {
    display: grid; 
    grid-template-columns: 2fr auto;
    grid-column-gap: 45px;
    background-color: #ffffff;
    font-size: 0.8rem;
    color: black;

}

.table-area {
    width: 20%;
    position: relative;
    
}

.link-inc {
    padding-top: 20px;
}

.form-email{
    width: 100%;
    position: relative;

}
.form-email input{
    border: 1px solid #dcbb87;
    background-color: white;
    border-radius: 60px;
    height: 25px;
    color: #232323;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0.8rem;
    padding-left: 18px;
    padding-top: 17px;
}
.campo-email{
    width: 100%;
}

.btn-sv{
    padding-top: 20px;
}

.perfil-PK{
    border: 1px solid #dcbb87;
    background-color: white;
    border-radius: 60px;
    height: 25px;
    color: #232323;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0.8rem;
    padding-left: 18px;
    padding-top: 17px;
}

.div {
    text-align: left;
    color: white;
    padding: 20px;
    /*padding-bottom: 20px;*/
}

/*.div-conteudo {
    padding: 50px;
    border:30px;
    margin:30px;
}*/
.conteudo {
    padding: 20px 30px 20px;
    border: 1px solid #ffffff2b;
    border-radius: 40px;
}

.lembrete {
    font-size: 15px;
    color: white;
}

#formAeroEdit{
    padding: 20px 30px 20px;/*top , right and left , botton*/
    margin-top: 20px;
    background-color: #ffffff03;
}

.img {
    float: left;
    width: 20px;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0; 
}

.btn-gif {
    font-size: 1rem;
    padding-left: 25px !important;
    background: #dcbb87;
    border: 1px solid #dcbb87;
    color: #19232d;
    padding: 12px 25px;
    border-radius: 999px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}