/*Variáveis*/

:root {
    --main-color: #407bff;
    --link-color: #666666;
    --text1: #999999;
    --highligth-text: #333333;
    --input-text: #555555;
    --white-color: #FFFFFF;
    --point-list: #CCCCCC;
    --line-input: #D9D9D9;
  }

/*Fontes*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

/*Valores iniciais*/
* {
	margin: 0px; 
	padding: 0px; 
  box-sizing: border-box;
}

body, html {
    /*background-image: url("../imagens/remax002.jfif");*/
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
  
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input, button {
	outline: none !important;
	border: none;
}


/*containers do Login*/
.container {
    width: 100%;
    margin: 0 auto;
    
   
    
  }
  .container:after{
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
    content : "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
    background-image: url("../imagens/renax005.png");
    opacity: 0.5;
  }

  
  
.container-login {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
   /* background: var(--white-color);
    background-image: url("../imagens/renax005.png");*/
      
}

.wrap-login {
    width: 370px;
    margin-right: 50px;
    background-color: rgba(10,23,55,0.5);
    /*background: var(--white-color);*/
}

/*
  Utilitários
*/

.text1 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--text1);
    line-height: 1.5;
}
  
.text2 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: var(--main-color);
    line-height: 1.5;
}
  
.margin-bottom-35 {
    margin-bottom: 35px;
}
  
.margin-top-35 {
    margin-top: 35px;
}
  
.margin-bottom-8 {
    margin-bottom: 8px;
}
  
.margin-top-8 {
    margin-top: 8px;
}
  
.margin-left-50 {
    margin-left: 50px;
}

/*Formulário*/

.login-form {
    width: 100%;
  }
  
.login-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: var(--highligth-text);
    line-height: 1.2;
    text-align: center;
    -webkit-stroke-color: #FFF;/*borda*/
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--line-input);
  }

.span1 {    
    background-image: url("../imagens/user1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    padding-left: 40px;
    font-family: Poppins-SemiBold;
    font-size: 20px;
    color: var(--input-text);
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    padding: 0 45px;
  }

.span2 {    
    background-image: url("../imagens/pass1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    padding-left: 40px;
    font-family: Poppins-SemiBold;
    font-size: 20px;
    color: var(--input-text);
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    padding: 0 45px;
  }
  
.input-form {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: var(--input-text);
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;
}
  
.focus-input-form {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

/*Botão*/

.container-login-form-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .login-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: var(--white-color);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: all 0.4s;
  }
  
  .login-form-btn:hover  {
    background-color: var(--highligth-text);
  }
