@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);

.body {
    max-height: 300px;
	background: #22374c;
	color:#777;
	font-family:Montserrat, sans-serif;
	font-size: 15px;
	font-weight:300;
	margin:0;
	min-height:150px;
	
	
}

.sectionMenu {
    height: 100%;
    padding: 0rem 0rem 0rem 0rem !important;/* top right botton lef*/
    background-color: #22374c;
}

.h1 {
	padding: 20px;
	font-weight: 200;
	font-size: 2.2rem;
	color: white;
	text-align: center;
	transition: all .3s ease-in-out;	
}

.nav {
	
	margin: 0 auto;
	max-width: 800px;
	background: #22374c;     /*152638;*/
	box-shadow:0 3px 15px rgba(0,0,0,.15);
}

.nav::after {
	display: block;
	content: '';
	clear: both;
}

.nav ul {
	z-index: 1;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav ul li {
	float: left;
	position: relative;
}

.nav ul li a {
	display: block;
	color: rgba(255, 255, 255, .9);
	text-decoration: none;
	padding: 1rem 2rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}

.nav ul li a:hover,
.nav ul li a:focus {
	background: rgba(0, 0, 0, .15);
}

.nav ul li a:focus {
	color: white;
}

.nav ul li a:not(:only-child)::after {
	padding-left: 4px;
	content: ' ▾';
}

.nav ul li ul li {
	min-width: 190px;
}

.nav ul li ul li a {
	background: transparent;
	color: #555;
	border-bottom: 1px solid #DDE0E7;
}

.nav ul li ul li a:hover,
.nav ul li ul li a:focus {
	background: #eee;
	color: #111;
}

.dropdown {
	display: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
}


.img-logo img{
	width: 120px;
	float: left;
}

.img-002{
	background-image: url("../imagens/renax005.png");
	height: 800px;
    opacity: 0.2;
}

.img-002 img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 400px;
	
}

.section0002{
	/*background-image: url("../imagens/renax005.png");*/
	
}